.idea/
build/
signwriting_transcription.egg-info/
data/.env

# pose-to-signwriting
transcription.zip
transcription_data_set/
normalized_data_set/
vectorized_data_set/
signwriting_transcription/pose_to_signwriting/joeynmt_pose/token.json
